/* Created by: Lucas Nguyen
* Created on: Feb 2025
* This file contains the CSS for index.html
*/

body {
  background-color: pink;
}

h1 {
  background-color: rgb(0, 247, 255);
  color: hsl(349, 50%, 47%);
  padding: 40px;
  text-align: center;
}

p {
background-color: #c3ff00;
}
